.nav {
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  height: 40px;
  z-index: 0;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  background: rgba(54, 54, 77, 0.246);
}
/* .nav:hover {
  background-color: black;
} */
.nav-left {
  /* z-index: 1; */
  margin-left: 0px;
  display: flex;
  justify-content: left;
}
ul {
  /* margin-left: 5px; */
  font-weight: 200;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
li {
  list-style-type: none;
  padding: 10px;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(223, 215, 215, 0.918);
  text-decoration: none;
}
li:hover {
  transition: transform 300ms;
  transform: scale(1.08);
}
.active {
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.nav__black {
  /* background-image: linear-gradient(
    100deg,
    rgba(96, 221, 194, 0.966),
    rgba(4, 33, 37, 0.904)
  ); */
  background-color: rgba(0, 0, 0, 0.788);
  height: 40px;
}
.nav__logo {
  padding-top: 5px;
  position: fixed;
  left: 19px;
  width: 40px;
  object-fit: contain;
}
.avatar {
  padding: 0;
}
.nav__avatar {
  font-size: 0.8rem;
  height: 20px;
  width: 18px;
  object-fit: contain;
}
.nav-right {
  height: inherit;
  margin-right: 10px;
  padding-left: 80%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 10px;
}

.item {
  padding: 0px 0px;
  /* width: 30px; */
  height: inherit;
  object-fit: contain;
  /* margin-right: 10px; */
}
.item input {
  width: 120px;
  margin-top: 6px;
  height: 22px;
  /* border: none; */
  border-radius: 15px;
}
.search:active {
  background-color: rgba(255, 248, 220, 0.157);
}
.search-icon {
  padding-top: 5px;
  font-size: 2rem;
  margin-right: 5px;
}

.bell {
  font-size: x-large;
  padding-top: 8px;
  margin-left: 10px;
  margin-right: 15px;
}
.down {
  cursor: pointer;
  margin-left: 5px;
  padding-top: 13px;
  font-size: 1rem;
}
.uname {
  cursor: pointer;
  margin-top: 3px;
  font-size: small;
  font-weight: 600;
  border-radius: 100%;
  padding: 10px;
  height: 15px;
  background-color: purple;
}
.profile {
  border-radius: 10px;
  color: rgb(253, 216, 206);
  text-decoration-line: underline;
  font-weight: 500;
  min-width: 250px;
  min-height: 150px;
  background-color: rgba(1, 17, 15, 0.651);
  position: absolute;
  top: 39px;
  right: -5px;
}
.display-name,
.email {
  background-color: rgba(80, 102, 102, 0.582);
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
}
.logout {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.logout button {
  font-family: sans-serif;
  font-size: large;
  font-weight: 500;
  color: rgb(12, 1, 1);
  background: linear-gradient(90deg, rgb(247, 247, 196), rgb(127, 219, 139));
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}
.info {
  /* background-color: rgba(148, 104, 88, 0.158); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 245, 245);
}
@media only screen and (max-width: 850px) {
  .nav-left {
    display: none;
  }

  .active {
    color: white;
    font-weight: 400;
    font-size: 15px;
  }
  a {
    font-size: 13px;
  }
  /* .nav-right {
    display: none;
  } */
}
@media only screen and (max-width: 650px) {
  .active {
    font-weight: 200;
    font-size: 11px;
  }
  a {
    font-size: 9px;
  }
  /* .nav-right {
    display: none;
  } */
}

@media only screen and (max-width: 420px) {
  .nav__logo {
    position: fixed;
    left: 20px;
    margin-left: 0px;
    width: 50px;
    height: 30px;
  }
  .nav__black {
    display: none;
  }
}
